.error {
  color: #ff3e3e;
}

.spinner {
  display: inline-block;
  transform: translateZ(1px);
  div {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 9999px;
    animation: spinner 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
}
@keyframes spinner {
  0%,
  100% {
    background: var(--green);

    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    background: var(--red);

    transform: rotateY(0deg);
  }
  50% {
    background: var(--red);

    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    background: var(--green);

    transform: rotateY(3600deg);
  }
}
